---
import { Image } from "astro:assets";
import Bluesky from "../../assets/bluesky.svg";
import Facebook from "../../assets/facebook.svg";
import Github from "../../assets/github.svg";
import Google from "../../assets/google.svg";
import Instagram from "../../assets/Instagram.svg";
import Linkedin from "../../assets/linkedIn.svg";
import Logo from "../../assets/premium-hosting-horizontal-logo.svg";
import Pinterest from "../../assets/pinterest.svg";
import Reddit from "../../assets/reddit.svg";
import Slack from "../../assets/slack.svg";
import TikTok from "../../assets/tiktok.svg";
import X from "../../assets/x.svg";
import Youtube from "../../assets/youtube.svg";
import ShortForm from "../ui/ShortForm.astro";
import { FOOTER_LINKS, SOCIAL_LINKS, UI_STRINGS, SITE_CONFIG, EXTERNAL_LINKS, ASSETS } from "../../constants";

const logos = SOCIAL_LINKS.map((social, index) => ({
  ...social,
  src: [
    Bluesky,
    Facebook,
    Github,
    Google,
    Instagram,
    Linkedin,
    Pinterest,
    Reddit,
    Slack,
    TikTok,
    X,
    Youtube
  ][index],
}));

const links = FOOTER_LINKS;
---

<section class="sm:px-5">
  <div class="w-full max-w-[var(--footer-max-width)] mx-auto">
    <div
      class="px-[15px] bg-dark text-white py-[55px] lg:px-[60px] sm:rounded-t-[45px]"
    >
      <div>
        <div
          class="flex flex-col lg:flex-row gap-7 items-center justify-between"
        >
          <picture>
            <a href="#home">
              <Image src={Logo} alt="Logo for Premium Hosting Brand" />
            </a>
          </picture>
          <ul class="flex flex-col sm:flex-row gap-5">
            {
              links.map((link) => {
                return (
                  <li class="text-center">
                    <a class="underline" href={link.href}>
                      {link.name}
                    </a>
                  </li>
                );
              })
            }
          </ul>
          <ul class="flex gap-5">
            {
              logos.map((logo) => {
                return (
                  <li>
                    <a href={logo.link} target="_blank">
                      <picture>
                        <Image src={logo.src} alt={logo.name} />
                      </picture>
                    </a>
                  </li>
                );
              })
            }
          </ul>
        </div>

        <div class="flex flex-col lg:flex-row mt-[66px] mb-[51px]">
          <div
            class="flex text-center lg:text-start flex-col w-full lg:w-[30%]"
          >
            <h3 class="mb-5">{UI_STRINGS.contact.title}</h3>
            <div class="flex flex-col justify-between gap-4">
              <span> Email: {SITE_CONFIG.contact.email} </span>
              <span> Phone: {SITE_CONFIG.contact.phone} </span>
              <a
                href={EXTERNAL_LINKS.atemplate}
                target="_blank"
              >
                <img
                  src={EXTERNAL_LINKS.atemplateBadge}
                  alt="premium-hosting | A template"
                  width="180"
                />
              </a>
            </div>
          </div>
          <div class="flex-grow my-10 lg:my-0 lg:ml-12">
            <ShortForm />
          </div>
        </div>
      </div>

      <div class="h-[1px] bg-white mb-5"></div>
      <div
        class="flex flex-col lg:flex-row h-20 justify-center mt-4 text-center md:justify-between md:mt-0"
      >
        <span
          >{SITE_CONFIG.credits.year} {SITE_CONFIG.credits.company} - Made With <a
            class="underline"
            target="_blank"
            href={SITE_CONFIG.credits.builtWith.url}>Astro</a
          ></span
        >&nbsp
        <span>
          <a
            href={SITE_CONFIG.credits.credit.url}
            target="_blank"
            class="underline">Credit ({SITE_CONFIG.credits.credit.name})</a
          ><span> &</span>
          <a
            class="underline"
            href={SITE_CONFIG.credits.license.url}
            target="_blank">{SITE_CONFIG.credits.license.name}</a
          >
        </span>
      </div>
    </div>
  </div>
</section>
